@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Gowun Dodum", sans-serif;
  color: rgb(38, 58, 2);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(38, 58, 2);
  border-radius: 10px;
}

div {
  animation: appear 2s linear 1;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.App {
  width: 100%;
  height: 100vh;
  transition: 0.3s all;
  background: url(./background.jpg);
  background-size: cover;
  overflow: auto;
}

.centered {
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.shadow {
  box-shadow: 0px 0px 15px 1.5px black;
}

.column {
  display: flex;
  flex-direction: column;
}

.side-nav {
  width: 60px;
  height: 100%;
  transition: 0.3s all;
  position: sticky;
  top: 0%;
}

.side-nav:hover {
  background: rgba(0, 0, 0, 0.5);
}

.side-nav a {
  text-decoration: none;
  color: grey;
}

.side-nav .icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 213, 195);
  transition: 0.3 all;
  margin: 10px;
}

.side-nav .icon-wrapper:hover {
  background: rgb(205, 207, 193);
}

.divider {
  width: 100%;
  height: 2px;
  background-color: rgb(38, 58, 2);
  border-radius: 15px;
}

.auth-wrapper {
  width: 50%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  height: 100vh;
}

.auth-wrapper .row {
  width: 100%;
}

.auth-wrapper h1 {
  margin: 5px;
}

.content-wrapper {
  width: 95vw;
}

.content-wrapper a {
  text-decoration: none;
  color: rgb(38, 58, 2);
}

.content-wrapper .category {
  width: 50vw;
  height: 150px;
  margin: 10px;
}

.content-wrapper .category .img {
  width: 70%;
  height: 100%;
}

.content-wrapper .category .link-wrapper {
  width: 30%;
}

.card {
  width: 200px;
  min-width: 200px;
  height: 350px;
  margin: 10px;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 250px;
}

.card .tip {
  color: white;
  font-size: 10px;
  border-radius: 30px;
  margin: 3px;
  width: 50px;
  height: 20px;
  background-color: rgb(38, 58, 2);
}

.card .size-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  width: auto;
}

.card .icon-wrapper {
  background-color: lightgrey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.App input {
  width: 30%;
  font-size: 20px;
  background: none;
  border: 2px solid rgb(38, 58, 2);
  border-radius: 15px;
  outline: none;
  margin: 5px;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  align-self: center;
  justify-self: center;
  position: absolute;
  width: 70%;
  height: 80%;
  top: 10%;
  background: url(./background2.jpg);
  background-size: cover;
}

.form h1 {
  text-align: center;
  margin: 5px;
}

.form .icon-wrapper {
  margin: 5px;
  cursor: pointer;
}

.form .card-small {
  width: 98%;
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: space-between;
  margin: 5px;
}

.form .card-small img {
  width: 80px;
  height: 100px;
}

.form .goods-wrapper {
  width: 60%;
  height: 70vh;
  max-height: 70vh;
  overflow-y: scroll;
}

.form .contact-wrapper {
  width: 40%;
  height: 100%;
}

.form .contact-wrapper input {
  width: 70%;
  margin: 5px;
}

button {
  width: 200px;
  font-size: 15px;
  border-radius: 15px;
  background: rgb(38, 58, 2);
  color: white;
  margin: 10px;
  cursor: pointer;
}

.tooltip {
  background: darkred;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  top: -5px;
  left: 15px;
  color: white;
  font-size: 10px;
}
